body{
	background-image: url('back.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 60vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
}
form {
  margin: 100px;
}
.input-field {
  position: relative;
  width: 450px;
  height: 44px;
  line-height: 44px;
}
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
	background-color: transparent;
  	width: 100%;
  	border: 0;
  	outline: 0;
  	padding: 0.5rem 0;
  	border-bottom: 2px solid #d3d3d3;
  	box-shadow: none;
  	color: #fff;
    
}
input:invalid {
  outline: 0;
  //color: #ff2300;
  //border-color: #ff2300;
}
input:focus,
input:valid {
  border-color: #ff2300
;
}
input:focus~label,
input:valid~label {
  font-size: 14px;
  top: -24px;
  color: #ff2300
;
}
button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
button:hover {
    color: #001F3F;
    background-color: #fff;
}